@font-face {
  font-family: Norse;
  src: url(./assets/Norse-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

div.left-content {
  height: 100vh;
  width: 40vw;
  background-color: red;
}

div.overlay-left {
  margin-top: 20vh;
  display: flex;
  height: 20vh;
  background-color: rgb(0, 0, 0, 0.2);
}

div.overlay-img {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

img.odin-logo {
  height: 90%;
  width: auto;
  object-fit: contain;
}

div.overlay-text {
  width: 50%;
  text-align: center;
  font-size: 9em;
  font-family: Norse;
}

div.right-content {
  height: 100vh;
  width: 60vw;
  background-color: blue;
}

